{% extends "base.html" %}
{% from 'install-remove-button.html' import installRemoveButton %}

{% macro relatedPackagesGroup(groupName, relatedPackagesList) -%}
    {% if relatedPackagesList %}
        <dt>{{ groupName }}:</dt>
        <dd>
            <ul>
            {% for relatedPackages in relatedPackagesList %}
                <li>
                    {% for pkg in relatedPackages %}
                    {% if not loop.first %} | {% endif %}
                    <span class='install-status {{ 'installed' if pkg.isInstalled else 'not-installed' }}'>{{ '✓' if pkg.isInstalled else '⨯' }}</span>
                    <a href='info:{{ pkg.name }}'>{{ pkg.name }}</a> {{ pkg.relation }} {{ pkg.version }}
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </dd>
    {% endif %}
{%- endmacro %}

{% block content %}

<div class='info-page'>

<a href='screenshot:{{ package.name }}'>
<img class='thumbnail' src='{{ package.thumbnailUrl }}'>
</a>

<h1>{{ package.name }} <span class='version'>{{ package.version }}</span></h1>
{% if package.homepage %}
    <div class='site'>{{ package.homepage | urlize }}</div>
{% endif %}

<div class='subtitle'>{{ package.summary }}</div>
<p class='description'>{{ package.description | urlize | replace('\n', '<br>') }}</p>

<p>
{{ installRemoveButton(name, package.isInstalled) }}
</p>

<dl>
    {{ relatedPackagesGroup("Depends", package.depends) }}
    {{ relatedPackagesGroup("Recommends", package.recommends) }}
    {{ relatedPackagesGroup("Suggests", package.suggests) }}
</dl>

</div> {# info-page #}

{% endblock %} {# content #}
