{% extends "base.html" %}
{% from 'install-remove-button.html' import installRemoveButton %}

{% block content %}

<div class='info-page'>

<a href='screenshot:{{ name }}'>
<img class='thumbnail' src='http://screenshots.debian.net/thumbnail/{{ name }}'>
</a>

<h1>{{ name }} <span class='version'>{{ version }}</span></h1>
{% if homepage %}
    <div class='site'>{{ homepage | urlize }}</div>
{% endif %}

<div class='subtitle'>{{ subtitle }}</div>
<p class='description'>{{ description | urlize | replace('\n', '<br>') }}</p>

<p>
{{ installRemoveButton(name, isInstalled) }}
</p>

<dl>
{% for key, value in relatedPackages %}
    <dt>{{ key }}</dt>
    <dd>{{ value }}</dd>
{% endfor %}
</dl>

</div> {# info-page #}

{% endblock %} {# content #}
