{% extends "base.html" %}
{% from 'install-remove-button.html' import installRemoveButton %}

{% block content %}

<div class='search-page'>

{% if errorMessage %}
<div class='error'>{{ errorMessage }}</div>
{% endif %}

<ul class='packages'>
{% for package in packages %}
    <li>
        <div class='action'>{{ installRemoveButton(package.name, package.isInstalled) }}</div>
        <a class='package' href='info:{{ package.name }}'>
            <img class='thumbnail' src='{{ package.thumbnailUrl }}'>
            <h1>{{ package.name }}</h1>
            <p>{{ package.summary }}</p>
        </a>
    </li>
{% endfor %}
</ul>

</div> {# search-page #}

{% endblock %} {# content #}
